################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/env/Lib/site-packages
/env/Scripts
__pycache__
/secret_key.txt
/.vs/SalesforceUtilityTools/v16/TestStore/0
